{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% for content in context %}
{{ content }}
{% endfor %}


<div class="container">
  <div class="hello">
    &nbsp;&nbsp;&nbsp;&nbsp;<u>Truck And Sack Count Details</u><br>
  </div><br>
  <div class="hel">
    <form method="POST" enctype="multipart/form-data" action="">
      <table class="tbl">
        <tr>
          <td align="right">Company Name</td>
          <td align="left"><input type="text" name="first" value="{{ company }}" style="color:#333;" />
          </td>
      
        </tr>
        <tr>
          <td align="right"><a href="{% url 'truck' %}" style="color: #e0abf1c7">Truck Count</a></td>
          <td align="left"><input type="text" name="name" placeholder="display truckdetails" value="{{ trucks|length }}"  style="color:#333;" />
          </td>
        </tr>
        <tr>
          <td align="right">Total LoadedSack</td>
          <td align="left"><input type="text" name="name" placeholder="display loadedSackcount"  value="{{ lqs|length }}" style="color:#333;   " />
          </td>
        </tr>
        <tr>
          <td align="right">Total Unloaded Sack</td>
          <td align="left"><input type="text" name="name" placeholder="display unloadedSack ount"  value="{{ uqs|length }}" style="color:#333;" />
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

{% endblock %}