{% extends 'base.html' %}

{% block content %}
<h1>Damn!!!</h1>

<h3>Loading Table</h3>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
    </tr>

    {% for sack in lqs %}
    <tr>
        <td> {{ sack.loading_date_time.date }} </td>
        <td> {{ sack.loading_date_time.time }} </td>
    </tr>
    {% endfor %}

</table>
<br><br>

<h3>Unloading Table</h3>
<table style="border: 2px solid black">
    <tr>
        <th>Date</th>
        <th>Time</th>
    </tr>
    {% for sack in uqs %}
    <tr>
        <td> {{ sack.unloading_date_time.date }} </td>
        <td> {{ sack.unloading_date_time.time }} </td>
    </tr>
    {% endfor %}
</table>


{{ startdate }}
{{ enddate }}
{{ company }}
{{ lqs }}
{{ uqs }}
{% endblock %}