{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/truck.css' %}">
<p></p>
<section>
  <!--for demo wrap-->
  <h1>Truck Details</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Truck ID</th>
          <th>Sack Status</th>
          <th>No. of Sacks</th>
          <th>Company Name</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" class="center">
      <tbody align="center">
        {% for loaded in lqs %}
        <tr align="center">
          <td>{{ loaded.truck.plateno }}</td>
          <td>Loading</td>
          <td>{{ 1 }}</td>
          <td>{{ loaded.truck.company.company_name }}</td>
          <td>{{ loaded.loading_date_time }}</td>
          <td>{{ loaded.loading_date_time }}</td>
        </tr>
        {% endfor %}
        {% for unloaded in uqs %}
        <tr align="center">
          <td>{{ unloaded.truck.plateno }}</td>
          <td>UnLoading</td>
          <td>{{ 1 }}</td>
          <td>{{ unloaded.truck.company.company_name }}</td>
          <td>{{ unloaded.unloading_date_time }}</td>
          <td>{{ unloaded.unloading_date_time }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</section>


{% endblock %}