{% extends 'base.html' %}


<link rel="stylesheet" href="{% static 'css/truck.css' %}">

{% block content %}
<p></p>
<section>
  <!--for demo wrap-->
  <h1>Truck Details</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Truck ID</th>
          <th>Sack Status</th>
          <th>No. of Sacks</th>
          <th>Company Name</th>
          <th>Start Time</th>
          <th>End Time</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" class="center">
      <tbody align="center">
        <tr align="center">
          <td>AAC</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
          <td>+2.01</td>
          <td>-0.36%</td>
          <td>-0.36%</td>
        </tr>

      </tbody>
    </table>
  </div>
</section>


{% endblock %}